/* App.module.css */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
.th, .td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  font-size: 13px;
}

.th {
  background-color: #f2f2f2;
}


.target{
  display: flex;
  align-items:center;
}

.target p{
  font-size: 10px;
  font-style: italic;
}