

.container{

}

.item{
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border: 1px solid rgb(200,200,200);
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.selected{
  background-color: #fffbe9 !important;
}
.item:hover{
  background-color: #fcfaf0;
}
.item input{
  width: 3vw;
}
.item h4{
  margin-left: 15px;
  min-width: 100px;
  text-align: center;
  font-size: 14px;
}
.item p{
  font-size: 12px;
  margin-left: 10px;
}